*{
    box-sizing: content-box;
}

body{
    margin:0px;
}
.exemplo{
    background-color: rgb(137, 46, 173);
    width: auto;
    height: 100px;
}

img{
    height: inherit;
    max-width: 200px;
    max-height: 200px;
}


